<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="HotFolderConnectionString" connectionString="server=NZL0003576\SQLSERVER2014; Initial Catalog = FujiXerox_SolutionBuilderHotWatch;User Id=sa;Password=scuser;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>